.wholeContainer {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgb(34, 55, 175);
  padding-top: 20px;
  padding-bottom: 20px;
}
.specialColor {
  font-weight: 600;
  color: rgb(6, 31, 173);
}
.heroContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.dataContainer {
  flex: 0.5;
}
.mapContainer {
  flex: 0.5;
  min-width: 300px;
  min-height: 357px;
}

/* Form styles */
.formContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formElements {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  gap: 20px;
}
.buttons {
  margin-top: 20px;
  flex: 0.5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  width: 141px;
  height: 62px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background-color: #1b31a8;
  color: white;
  border: 1px solid #1b31a8;
  border-radius: 32px;
  cursor: pointer;
}
.checkPoints {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.checkPoints label {
  font-family: "IBM Plex sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.checkPoints input {
  width: 90%;
  height: 45px;
  border: 1px solid #dcddec;
  border-radius: 6px;
  padding-left: 30px;
}
.checkPoints p {
  text-align: right;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
.origin {
  background-image: url("../assets/start.png");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: 10px center;
}
.stop {
  background-image: url("../assets/stop.png");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: 10px center;
}

.destination {
  background-image: url("../assets/destination.png");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: 10px center;
}

.checkPoints input[type="text"] {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #1e2a32;
}
.modeStyle select {
  width: 50%;
  text-align: center;
  margin-left: 5px;
  padding: 2%;
}
.modeStyle select option {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #1e2a32;
}

/* Result styles */
.resultContainer {
  margin-top: 40px;
  width: 85%;
  height: 155px;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
}
.resultHeroSection {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.distance {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #1e2a32;
}
.kms {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #0079ff;
}
.text {
  height: 50%;
  background-color: #f4f8fa;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #1e2a32;
}
.special {
  font-weight: 700;
}

/* Media queries */
@media (max-width: 375px) {
  /* CSS rules for screens up to 375px wide */
  .wholeContainer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .dataContainer {
    flex: 1;
  }
  .mapContainer {
    flex: 1;
    min-width: 300px;
    min-height: 357px;
  }

  /* Form styles */
  .formContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .formElements {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
  }
  .buttons {
    flex: 1;
  }
  .buttons button {
    width: 141px;
    height: 55px;
  }

  .checkPoints input {
    width: 300px;
  }

  /* Result styles */
  .resultContainer {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    height: 155px;
  }
  .distance {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #1e2a32;
  }
  .modeStyle {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .wholeContainer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .dataContainer {
    flex: 1;
  }
  .mapContainer {
    flex: 1;
    min-width: 300px;
    min-height: 357px;
  }

  /* Form styles */
  .formContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .formElements {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
  }
  .buttons {
    flex: 1;
  }
  .buttons button {
    width: 141px;
    height: 55px;
  }

  .checkPoints input {
    width: 350px;
  }

  /* Result styles */
  .resultContainer {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    height: 155px;
  }
  .distance {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #1e2a32;
  }
  .modeStyle {
    text-align: center;
  }
}
